<h2 mat-dialog-title>Create New Diet Plan</h2>
<mat-dialog-content>
  <form [formGroup]="dietPlanForm">
    <mat-form-field appearance="outline">
      <mat-label>Plan Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="dietPlanForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Calories </mat-label>
      <input matInput type="number" formControlName="calories" required>
      <mat-error *ngIf="dietPlanForm.get('calories')?.hasError('required')">
        Calories is required
      </mat-error>
      <mat-error *ngIf="dietPlanForm.get('calories')?.hasError('min')">
        Must be positive
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Protein (g)</mat-label>
      <input matInput type="number" formControlName="protein" required>
      <mat-error *ngIf="dietPlanForm.get('protein')?.hasError('required')">
        Protein is required
      </mat-error>
      <mat-error *ngIf="dietPlanForm.get('protein')?.hasError('min')">
        Must be positive
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Carbs (g)</mat-label>
      <input matInput type="number" formControlName="carbs" required>
      <mat-error *ngIf="dietPlanForm.get('carbs')?.hasError('required')">
        Carbs is required
      </mat-error>
      <mat-error *ngIf="dietPlanForm.get('carbs')?.hasError('min')">
        Must be positive
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fat (g)</mat-label>
      <input matInput type="number" formControlName="fat" required>
      <mat-error *ngIf="dietPlanForm.get('fat')?.hasError('required')">
        Fat is required
      </mat-error>
      <mat-error *ngIf="dietPlanForm.get('fat')?.hasError('min')">
        Must be positive
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!dietPlanForm.valid">
    Create
  </button>
</mat-dialog-actions>