<div class="sidenav-container">
  <div class="logo-container">
    <mat-icon class="logo-icon">favorite</mat-icon>
    <h1 class="logo-text">FitBuddy</h1>
  </div>
  
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard" [class.active]="isActive('/dashboard')">
      <mat-icon>timeline</mat-icon>
      <span>Activity</span>
    </a>
    
    
    <a mat-list-item routerLink="/workouts" [class.active]="isActive('/workouts')">
      <mat-icon>fitness_center</mat-icon>
      <span>Workouts</span>
    </a>
    
    <a mat-list-item routerLink="/challenges" [class.active]="isActive('/challenges')">
      <mat-icon>emoji_events</mat-icon>
      <span>Challenges</span>
    </a>
    
    <a mat-list-item routerLink="/profile" [class.active]="isActive('/profile')">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    
    <mat-divider></mat-divider>
    
    <a mat-list-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </mat-nav-list>
</div>

