<mat-toolbar color="primary" class="header">
    <button mat-icon-button *ngIf="isHandset" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <h1 class="header-title" *ngIf="!isHandset">Library Management System</h1>
    
    <div class="spacer"></div>   
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
      <div class="user-initials">
        {{getUserInitials()}}
      </div>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/dashboard/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  